.loginWrap {
  width: 100%;
  height: 100%;
}

.loginBanner {
  width: 100%;
  height: 7rem;
  position: relative;
}

.loginBanner .loginban {
  width: 100%;
  height: 100%;
}

.loginBanner .loginLogo {
  widows: 1.4em;
  height: .6rem;
  position: absolute;
  top: .22rem;
  left: 0.17rem;
}

.loginContent {
  width: 100%;
  padding: 0.28rem;
  box-sizing: border-box;
}

.loginContent .loginTit {
  width: 100%;
  text-align: center;
  line-height: 1.3rem;
  font-size: .6rem;
  color: #42413E;
}

.loginContent .loginMessage {
  width: 100%;
}

.loginContent .loginMessage > p {
  line-height: 1rem;
  color: #ff6773;
}

.loginContent .loginMessage > p span {
  display: inline-block;
  width: .4rem;
  height: .4rem;
  background: #ff6773;
  border-radius: 100%;
  text-align: center;
  line-height: .4rem;
  color: #fff;
  margin-right: .1rem;
}

.loginContent .loginMessage > li {
  width: 100%;
}

.loginContent .loginMessage > li input {
  width: 100%;
  line-height: 1.3rem;
  border: none;
  border-bottom: solid 1px #EBEBEB !important;
  outline: none;
}

.loginContent .loginMessage > li.li-msg {
  position: relative;
}

.loginContent .loginMessage > li.li-msg .sendVertifyMsg {
  position: absolute;
  right: 0;
  top: 0.2rem;
  background: #FFAD32;
  color: #fff;
  padding: .1rem .2rem;
  border-radius: .2rem;
}

.loginContent .loginBtn {
  width: 100%;
  height: 1.2rem;
  background: #FF9900;
  text-align: center;
  line-height: 1.2rem;
  color: #fff;
  margin-top: .7rem;
  border-radius: .2rem;
  font-size: .55rem;
}
