.mask-layer{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    position: fixed;
    top:0;
    left:0;
    z-index: 222;
}
.mask-content{
    margin: 0 auto;
    min-width: 30%;
    min-height: 30%;
    border-radius: .1rem;
}
.mask-content-top{
    position: absolute;
    top:0;
    background: #fff;
    left:50%;
    transform: translateX(-50%)
}
.mask-content-center{
    position: absolute;    
    background: #fff;
    left:50%;
    top:50%;
    transform: translate3d(-50%,-50%,0)
}
.mask-content-bottom{
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    background: #fff;
}